<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RESTBoard2</display-name>
  
  <!-- 공통 로직에 사용될 빈은 서블릿 수준으로 등록하지말고 ServletContext 수준으로 등록하자 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/itbank/spring/context/service.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 필터 등록 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- PUT / DELETE 메서드사용을 위한 설정 -->
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 일반 요청 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/front.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- REST 요청 -->
	<servlet>
		<servlet-name>restServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/rest.xml</param-value>
		</init-param>
	</servlet>

	<!-- url-pattern의 경로중에 만일 디렉토리 경로가 포함되어있을 경우 이 디렉토리경로를 가리켜 서블릿 경로라 한다. 
	주의) Controller 매핑시 이 서블릿 경로를 제외시켜야 한다.

	유저가 브라우저에 입력한 경로가 /rest/board/list 일 경우
	ex) @RequestMapping("/board/list") 
	
	만일 개발자가 서블릿 경로를 제외하고 매핑하는 방식이 헷갈릴 경우? 
	풀경로를 사용하겠다는 설정을 하면 된다. 
	1)DefaultAnnotationHandlerMapper 매핑 빈에 property값으로 alwaysFullPath=true 로 설정하면 된다.(기본이 false)
	2)AnnotationMethodHandleㅋrAdapter도 같은 설정을 하면 된다.
	-->
	<servlet-mapping>
		<servlet-name>restServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>